@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Product page has different URL than the standard. 
Uses path of catalog/category/id.  *@

@model ZaunShop.Models.DomainModels.Product

@if (Model is null)
{
    <p>No product was found, we are sorry'</p>
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/content/images/Jacket.jpg" alt="@Model.name">


    <div class="card-body">
        <h5 class="card-title">@Model.name</h5>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h7 class="card-title mr-2">@Model.price kr</h7>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>

    </div>
</div>