<div id="sale-banner" class="">
    <header id="sale-banner-header" class="d-flex flex-column gap-2 flex-nowrap" style="background:grey; ">
        <h1 class="fw-bold">
            Opgrader din garderobe med 15% på disse brands
        </h1>
        <h2 class="fw-semibold">
            Shop Brand1, Brand2, Brand3 og meget mere
        </h2>
        <p>
            Rabatkode: <strong>RABAT123</strong>
        </p>

        <button class="w-25">Shop her</button>
    </header>
    <div id="sale-banner-brands" class="d-flex flex-row no-wrap" style="background:#c7c7c7;">
        <ul class="ulcustom">
            <li class="ilcustom">Udforsk salg:</li>
            <li class="fw-bold ilcustom">
                <a href="#">BRAND1</a>
            </li>
            <li class="fw-bold ilcustom">
                <a href="#">BRAND2</a>
            </li>
            <li class="fw-bold ilcustom">
                <a href="#">BRAND3</a>
            </li>
            <li class="fw-bold ilcustom">
                <a href="#">BRAND4</a>
            </li>
            <li class="fw-bold ilcustom">
                <a href="#">BRAND5</a>
            </li>
        </ul>

    </div>
</div>